body {
    margin: 60px auto;
    width: 90%;
    background-color:#dfa2c3;
}
footer ul {
   
    font-family:'Lucida Consol', 'Raleway', 'Nixie-one';
    font-size: 14px;
    padding: 0px;
    list-style: none;
    color:#dfa2c3;
    }












.pi-navigation .navlist{text-align:center}
 .pi-navigation {

    position: relative;
    z-index: 9;
    z-index: 1;
    height: 61px;
    width: 100%;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
z-index:99999;
      }
      .pi-navigation.nav-fixed {
        position: fixed;
        top: 0;
        bottom: auto;
      }
      .pi-navigation .container {
        height: 100%;
      }
     
      .pi-navigation .search-box {
        position: absolute;
        top: 50%;
        right: -12px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      .pi-navigation .search-box input[type=&quot;search&quot;] {
        position: absolute;
        height: 40px;
        line-height: 40px;
        background-color: #fff;
        border: 1px solid #eee;
        top: 30px;
        right: 25px;
        width: 50%;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      .pi-navigation .search-box input[type=&quot;search&quot;].fadein {
        width: 200px;
        opacity: 1;
        visibility: visible;
      }

.pi-navigation .navlist li a {
    display: inline-block;

    font-size: 10px;

    text-transform: uppercase;
    line-height: 61px;
    color: #28292e;
    font-size: 11px;
    letter-spacing: 2px;
    font-weight: 500;

}
      .pi-navigation .search-box .icon-search {
        display: block;
        position: absolute;
        width: 40px;
       
        text-align: center;
        cursor: pointer;
        color: #aaa;
        right: 15px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      .pi-navigation .search-box .icon-search .fa {
        line-height: 18px;
      }
      .pi-navigation .search-box .icon-search.active, .pi-navigation .search-box .icon-search:hover {
        color: #7f957f;
      }
      .pi-navigation .search-box .icon-search:before {
        content: &#39;&#39;;
        display: block;
        position: absolute;
        border-left: 1px solid #999;
        height: 16px;
        width: 0;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
      }
      .pi-navigation .share-box {
        position: absolute;
        top: 47%;
        right: 60px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    



 .pi-navigation1{
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        
    background: #fcfcfc;
        z-index: 9999;
        height: 50px;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);

    border-bottom: 1px solid #f7f7f7;
      }
      .pi-navigation1.nav-fixed {
        position: fixed;
        top: 0;
        bottom: auto;
      }
      .pi-navigation1 .container {
        height: 100%;
      }

div#topnav {
    width: 50%;
    float: left;
}

div#Social_Icons_Top {
    width: 50%;
    float: right;
}
      .pi-navigation1 .share-box {
       float:right;
      }
      .pi-navigation1 .share-box a {
        display: inline-block;
        margin: 0 5px;
        color: #484848;
    line-height: 50px;
      }
      .pi-navigation1 .share-box a:hover {
        color: #e15d5d;
      }


      .PageList LI.selected A{    font-weight: normal;}
      .navlist {
        position: relative;
        font-size: 0;
        list-style: none;
        padding: 0;
        margin-bottom: 0;
      }
      .navlist &gt; li.menu-item-has-children.item-plus &gt; a {
        position: relative;
      }
      .navlist &gt; li.menu-item-has-children.item-plus &gt; a:after,
      .navlist &gt; li &gt; ul &gt; li.menu-item-has-children.item-plus &gt; a:after {
        content: &#39;+&#39;;
        display: inline-block;
        margin-left: 4px;
      }
      .navlist &gt; li &gt; .sub-menu {
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
      }
      .navlist li {
        position: relative;
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
      }
      .navlist li a {
        display: inline-block;
     
        font-size: 11px;
        color: #252525;
        text-transform: uppercase;
        line-height: 51px;
      }
      .navlist li:first-child {
        margin-left: 0;
      }
      .navlist li .sub-menu {
        position: absolute;
        background-color: #fefefe;
        width: 205px;
        padding: 0;
        list-style: none;
        left: -15px;
        top: 97%;
        border: 1px solid #f3f3f3;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      .navlist li .sub-menu li {
        display: block;
        margin: 0;
      }
      .navlist li .sub-menu li a {
        display: block;
        padding: 0 15px;
        border-bottom: 1px solid #f3f3f3;
        line-height: 40px;
  text-align: left;
      }
      .navlist &gt; li &gt; .sub-menu &gt; li:last-child &gt; a,
      .navlist &gt; li &gt; .sub-menu &gt; li &gt; .sub-menu &gt; li:last-child &gt; a {
        border: 0;
      }
      .navlist li .sub-menu .sub-menu {
        left: 100%;
        top: -1px;
      }
      .navlist li.current-menu-parent &gt; a,
      .navlist li.current-menu-item &gt; a, .navlist li:hover &gt; a {
        color: #7f957f;
      }
      .navlist li:hover &gt; .sub-menu {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
      }
      .navlist li.megamenu {
        position: static;
      }
      .navlist li.megamenu:after {
        content: &#39;&#39;;
        display: block;
        clear: both;
      }
      .navlist li.megamenu .sub-menu {
        width: 100%;
        padding: 15px;
        left: 0;
        background-color: #fff;
        -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
        -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
      }
      .navlist li.megamenu .sub-menu li {
        float: left;
        padding: 10px;
        background: none;
      }
      .navlist li.megamenu .sub-menu li a {
        border: 0;
        line-height: 2em;
        font-size: 12px;
      }
      .navlist li.megamenu .post {
        text-align: center;
        background-color: #fff;
        padding: 10px 10px 20px 10px;
      }
      .navlist li.megamenu .post .post-media img {
        width: 100%;
      }
      .navlist li.megamenu .post h2 {
        font-size: 12px;
        color: #484848;
        text-transform: uppercase;
        margin-top: 9px;
        margin-bottom: 5px;
      }
      .navlist li.megamenu .post h2 a {
        color: inherit;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .navlist li.megamenu .post h2 a:hover {
        color: #7f957f;
      }
      .navlist li.megamenu .post .post-date {
        font-size: 12px;
      }
      .navlist li.megamenu.col-5 .sub-menu li {
        width: 20%;
      }
      .navlist li.megamenu.col-4 .sub-menu li {
        width: 25%;
      }
      .navlist li.megamenu.col-3 .sub-menu li {
        width: 33.3333333333%;
      }
      .navlist li.megamenu.col-2 .sub-menu li {
        width: 50%;
      }
      .navlist li.megamenu.col-1 .sub-menu li {
        width: 100%;
      }
      .navlist.off-canvas {
        position: fixed;
        width: 250px;
        top: 50px;
        left: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #f7f9f9;
        -webkit-box-shadow: 0 100px 0 0 #f7f9f9;
        -moz-box-shadow: 0 100px 0 0 #f7f9f9;
        box-shadow: 0 100px 0 0 #f7f9f9;
        z-index: 99999;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      .navlist.off-canvas li {
        position: static;
        display: block;
        margin: 0;
      }
      .navlist.off-canvas li a {
        display: block;
        border-bottom: 1px solid #eee;
        line-height: 42px;
        padding: 0 15px;
  text-align: left;
      }
      .navlist.off-canvas li .sub-menu {
        opacity: 1;
        visibility: visible;
        position: absolute;
        border: 0;
        width: 100%;
        min-height: 100%;
        top: 0;
        left: 0;
        background-color: #f7f9f9;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
      }
      .navlist.off-canvas li .sub-menu li a {
        border-bottom: 1px solid #eee;
      }
      .navlist.off-canvas li .sub-menu.sub-menu-active {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        z-index: 999;
      }
      .navlist.off-canvas li.megamenu .sub-menu {
        padding: 0 15px;
        -webkit-box-shadow: 0;
        -moz-box-shadow: 0;
        box-shadow: 0;
      }
      .navlist.off-canvas li.megamenu .sub-menu li {
        width: 100% !important;
        float: none;
        padding: 10px 0;
      }
      .navlist.off-canvas li.megamenu .sub-menu li a {
        border: 0;
      }
      .navlist.off-canvas li.megamenu .sub-menu li.back-mb {
        width: auto !important;
        background-color: #f3f3f3;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 10px;
      }
      .navlist.off-canvas li.megamenu .sub-menu li.back-mb a {
        font-size: 11px;
      }
      .navlist.off-canvas li.megamenu .sub-menu li:last-child {
        padding-bottom: 30px;
      }
      .navlist.off-canvas li.back-mb {
        background-color: rgba(0, 0, 0, 0.02);
      }
      .navlist.off-canvas.off-canvas-active {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
      }
      .navlist.off-canvas .submenu-toggle {
        position: absolute;
        right: 0;
        width: 42px;
        height: 42px;
        text-align: center;
        cursor: pointer;
        background-color: #eff1f1;
        background-color: rgba(0, 0, 0, 0.02);
        border-left: 1px solid #f2f2f2;
        color: #383838;
        -webkit-transform: translateY(-43px);
        -moz-transform: translateY(-43px);
        -ms-transform: translateY(-43px);
        -o-transform: translateY(-43px);
        transform: translateY(-43px);
      }
      .navlist.off-canvas .submenu-toggle .fa {
        font-size: 14px;
        line-height: 42px;
      }
      .open-menu {
        display: none;
        position: absolute;
        width: 50px;
        height: 14px;
        cursor: pointer;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 999;
      }
      .open-menu .item {
        position: absolute;
        display: block;
        font-size: 0;
        width: 20px;
        height: 2px;
        background-color: #333;
        margin: auto;
        left: 0;
        right: 0;
        overflow: hidden;
        z-index: 1;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      .open-menu .item-1 {
        top: 0;
      }
      .open-menu .item-2 {
        top: 0;
        bottom: 0;
      }
      .open-menu .item-3 {
        bottom: 0;
      }
      .open-menu.toggle-active .item {
        background-color: #7f957f;
      }
      .close-menu {
        position: absolute;
        width: 50px;
        height: 14px;
        cursor: pointer;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 99999;
        display: none;
      }













.bav{
width: 100%;
overflow:hidden;
}
.bav ul{
margin: 0;
padding: 0;
font: bold 16px Josefin Slab;
list-style-type: none;
text-align: center; 
}
.bav li{
display: inline;
margin: 0;
}
.bav li a{
display:inline-block;
text-align:center;
text-decoration: none;
color: #fff;
background:#63dfe0;
margin: 0;
margin-right:5px; 
width:100px;
height:100px;
border-radius: 400px; 
-moz-border-radius: 400px;
-webkit-border-radius: 400px;
}
.bav a span{
position:relative;
top:40%;
}
.bav li a:visited{
color: #fff;
}
.bav a:hover{
background: #000;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    font-family: "Lucida Console";
    font-size:16px;
    color: #000;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3.5em;
    font-family:'Sacramento', 'Oldenburg', 'Raleway';
    color:#ffffff;
}
h2 {
    font-size: 3em;
    font-family:'Lucida Console';
    color:#ffffff;
}
p {
    font-size: 2em;
    line-height: 1.4em;
    color: #ffffff;
    font-family:'Josefin Slab';
}
footer {
    border-top: 1px solid #63dfe0;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
